/* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  .landing-page {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-image: url('./panda.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px; /* Adjust padding as needed */
  }
  .image {
    flex: 0 0 50%; /* Half of the container */
    opacity: 0.5; /* Adjust the opacity value as needed */
  }
  .image img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
  }
  .content {
    flex: 0 0 50%; /* Half of the container */
    padding-left: 20px; /* Adjust as needed */
    background-color: rgba(255, 255, 255, 0.7); /* Add a semi-transparent white background */
  }
  h1 {
    color: #333;
  }
  form {
    margin-top: 20px;
  }
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  button {
    background-color: black; /* Change button background color to black */
    color: white; /* Change button text color to white */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background-color: #333; /* Darken button color on hover */
  }
  .brightness-icon {
    position: absolute;
    top: 20px; /* Adjust distance from the top */
    right: 20px; /* Adjust distance from the right */
    cursor: pointer;
  }
  